// navbar
.navbar {
  &-brand {
    img {
      width: 5rem;

      @media (max-width: 576px) {
        width: 3rem;
      }
    }

    h3 {
      @include headingStyles(capitalize);
      font-family: "Aclonica", cursive;
    }
  }

  &-nav {
    a {
      @include textStyles();
      font-size: size(xs) - 0.1rem;
      margin-left: 0.5rem;

      @media (max-width: 992px) {
        border-bottom: 0.1rem solid $primary;
      }
    }
  }
}

// ********** homepage **********

// hero
.hero {
  margin-top: 8rem;

  h5 {
    @include textStyles();
  }
}

// how it works
.works {
  p {
    @include textStyles();
  }

  .cards {
    img {
      width: 100%;
    }

    h4 {
      @include headingStyles(capitalize);
    }
  }
}

// technologies
.technologies {
  .badge-img {
    width: 10rem;
    margin: auto;
  }
}

// stories
.story-img {
  width: 10rem;
}

// ********** all paths **********

.paths-header {
  margin-top: 10rem;
}

.paths {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("/dist/images/home/bg.svg") center center/cover no-repeat;
}

// ********** about **********
.about-header {
  margin-top: 10rem;

  p {
    @include textStyles();
    width: 75%;
    margin: 0 auto;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}
