// navbar
.navbar {
  &-brand {
    img {
      width: 5rem;

      @media (max-width: 576px) {
        width: 3rem;
      }
    }

    h3 {
      @include headingStyles(capitalize);
      font-family: "Aclonica", cursive;
    }
  }

  &-nav {
    a {
      @include textStyles();
      font-size: size(xs) - 0.1rem;
      margin-left: 0.5rem;

      @media (max-width: 992px) {
        border-bottom: 0.1rem solid $primary;
      }
    }
  }
}

// hero
.hero {
  margin-top: 8rem;

  h5 {
    @include textStyles();
  }
}

// how it works

.works {
  .cards {
    img {
      width: 15rem;
    }

    .card-1 {
      width: 8rem;
    }

    .card-3 {
      width: 13rem;
    }

    h4 {
      @include headingStyles();
    }

    p {
      @include textStyles();
    }
  }
}
